.row-buff { 
    margin-top: 15px; 
}
.login {
    max-width: 400px;
    margin: 0 auto;
}
.login .input-group-addon {
    min-width: 100px;
}
.register {
    margin-right: 15px;
}
.login-errors,
.login-success {
    display: none;
}
.page-dash .panel .input-group-addon {
    min-width: 70px;
}
.project {
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.project h2 {
    margin: 0;
    text-shadow: 0 0 20px #FFF;
}