.row-buff { 
    margin-top: 15px; 
}
.login {
    max-width: 400px;
    margin: 0 auto;
}
.login .input-group-addon {
    min-width: 100px;
}
.register {
    margin-right: 15px;
}
.login-errors,
.login-success {
    display: none;
}
.page-dash .panel .input-group-addon {
    min-width: 70px;
}
.project {
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.project h2 {
    margin: 0;
    text-shadow: 0 0 20px #FFF;
}
.task {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    margin: 15px 0 5px 0;
    border-radius: 3px;
    font-weight: bold;
}
.task:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.task.recording {
    background-color: rgba(255, 0, 0, 0.8);
    color: #FFFFFF;
}